<div class="movie-card" [routerLink]="getContentLink()">
    <div class="poster-wrapper">

        <img [src]="getPosterUrl(movie().poster_path)" [alt]="movie().title || movie().name" class="poster-image"
            loading="lazy" />

        <div class="card-rating">
            {{ movie().vote_average.toFixed(1) }}
        </div>

        <div class="card-actions desktop-actions">
            <button class="action-btn" [class.active]="isInWishlist()" (click)="toggleWishlist($event)">
                {{ isInWishlist() ? '✔ WISHLIST' : '+ WISHLIST' }}
            </button>
            <button class="action-btn" [class.active]="isInFavorites()" (click)="toggleFavorite($event)">
                {{ isInFavorites() ? '❤ FAVORITES' : '+ FAVORITES' }}
            </button>
        </div>
        <div class="mobile-actions">
            <button class="mob-action-btn" [class.active]="isInWishlist()" (click)="toggleWishlist($event)">
                {{ isInWishlist() ? '✔ WISHLIST' : '+ WISHLIST' }}
            </button>
            <button class="mob-action-btn" [class.active]="isInFavorites()" (click)="toggleFavorite($event)">
                {{ isInFavorites() ? '❤ FAVORITES' : '+ FAVORITES' }}
            </button>
        </div>
    </div>
    <div class="card-content">
        <h3 class="movie-title">{{ movie().title || movie().name }}</h3>
        <div class="card-meta">
            <span class="meta-item">{{ getYear(movie().release_date || movie().first_air_date) }}</span>
            <span class="meta-item">{{ displayType() }}</span>
        </div>
    </div>
</div>